<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  html, body {
    height: 100%;
  }

  .container-fluid {
    padding-top: 130px;
    padding-bottom: 250px;
}
  .container-fluid2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bg-1 { 
      background-color: #f01716; /* Green */
      color: #ffffff;
  }

  .button {
      width: 100%;
      height: 100px;
      font-size: 30px;
      color: black;
      border-radius: 4px;
  }
  .button-format{
      font-size: 30px;
      padding: 20px;
      margin-bottom: 30px;
      color: black;
  }
  .question-title{
      padding-bottom: 30px;
  }
  </style>
</head>
<body class="container-fluid bg-1 text-center">
<h1 class="question-title">If you have 10 lemons and give 7 to your friend. Then your friend gives you 4 lemons. How many lemons do you have?</h1>
<div>
<form>
<button onclick="location.href = 'http://localhost:3000/welcome/question1/question2';" type="button" class="btn btn-light btn-lg btn-block button-format">5 lemons</button>
<button onclick="location.href = 'http://localhost:3000/welcome/question1/question2';" type="button" class="btn btn-light btn-lg btn-block button-format">10 lemons</button>
<button onclick="location.href = 'http://localhost:3000/welcome/question1/question2';" type="button" class="btn btn-light btn-lg btn-block button-format">7 lemons</button>
<button onclick="location.href = 'http://localhost:3000/welcome/question1/question2';" type="button" class="btn btn-light btn-lg btn-block button-format">2 lemons</button>
</form>
</div>
</body>
</html>